
.color-primary {
    color:$color-primary;
}

.color-primary-bg {
    background:$color-primary;
}

.color-gray {
    color:$color-gray;
}

.color-gray-bg {
    background:$color-gray;
}


.color-second {
    color :$color-second;
}

.color-second-bg {
    background :$color-second;
}

.color-bule {
    color: $color-blue;
}

.color-bule-bg {
    background: $color-blue;
}

.color-yellow {
    color:$color-yellow;
}