
.color-primary {
    color:$color-primary;
}

.color-primary-bg {
    background:$color-primary;
}

.color-secondary {
    color:$color-gray;
}

.color-secondary-bg {
    background:$color-gray;
}
.color-sencond {
    color :$color-second;
}

.color-sencond-bg {
    background :$color-second;
}

.color-bule {
    color: $color-blue;
}
.color-yellow {
    color:$color-yellow;
}