$font-baloo:"Baloo Thambi 2", cursive;
$font-raleway : "Raleway", cursive;
$font-rubik: "Rubik", cursive;

$color-blue : #123C69;
$color-second : #EDC7B7;
$color-primary : #AC3B61;
$color-gray : #BAB2B5; 
$color-yellow: #FFD289;