$font-baloo:"Baloo Thambi 2", cursive;
$font-raleway : "Raleway", cursive;
$font-rubik: "Rubik", cursive;

$color-blue : #131921;
$color-blue-second :#232F3E;
$color-second : #0e0620;
$color-primary :#2ccf6d;
$color-gray : #BAB2B5; 
$color-yellow: #FFD289;
$color-border-1 : linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(10,249,121,1) 26%, rgba(0,255,214,1) 100%);
