$font-baloo:"Baloo Thambi 2", cursive;
$font-raleway : "Raleway", cursive;
$font-rubik: "Rubik", cursive;

$color-blue : #123C69;
$color-second : #0e0620;
$color-primary :#2ccf6d;
$color-gray : #BAB2B5; 
$color-yellow: #FFD289;